<div id="@ViewBag.ConfirmModalId" class="modal confirm-modal">
    <div class="modal-content">
        <h4>@ViewBag.ConfirmModalTitle</h4>
        <p>@ViewBag.ConfirmModalText</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat">no</a>
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat confirm-modal-action">yes</a>
    </div>
</div>
