<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title - Sophisticated masterpiece</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/materialize.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<body class="blue-grey lighten-5">

<header class="white wide with-left-nav">
    <nav>
        <div class="nav-wrapper">
            <ul class="left">
                <li>
                    <a href="#" data-activates="nav-mobile" class="button-collapse">
                        <i class="material-icons">menu</i>
                    </a>
                </li>
            </ul>

            <ul class="right hide-on-med-and-down">
                <li class="vdivider"></li>
                <li><a>œ corp.</a></li>

                <li class="vdivider"></li>
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown-header-user" data-beloworigin="true">
                        Admin
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            </ul>

            <h1 class="title"><?= $this->vars->title ?></h1>
            <ul id="nav-mobile" class="side-nav">
                <li>
                    <a href="#">
                        <i class="material-icons left"></i>
                        Пункт меню 1
                    </a>
                    <a href="#">
                        <i class="material-icons left"></i>
                        Пункт меню 2
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<ul class="left-nav hide-on-med-and-down">
    <li class="nav-section">Секция 1</li>
    <li>
        <a href="#" class="waves-effect">
            <i class="material-icons left"></i>
            Пункт меню 1.1
        </a>
    </li>
    <li>
        <a href="#" class="waves-effect active">
            <i class="material-icons left"></i>
            Пункт меню 1.2 (активный)
        </a>
    </li>

    <li class="nav-section">Секция 2</li>
    <li>
        <a href="#" class="waves-effect active">
            <i class="material-icons left"></i>
            Пункт меню 2.1
        </a>
    </li>
    <li>
        <a href="#" class="waves-effect active">
            <i class="material-icons left"></i>
            Пункт меню 2.2
        </a>
    </li>
</ul>

<main class="with-left-nav">
    <div class="section">
        <div class="row">
            <div class="col s12 main-content">
                @RenderBody()
            </div>
        </div>
    </div>
</main>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/materialize.min.js"></script>
</body>
</html>
